/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-image: url(concrete_seamless.png);
  font-family: Helvetica, Verdana, sans-serif; }

.container {
  background-color: rgba(240, 240, 240, 0.2);
  border: solid 1px #DDD;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px 0;
  text-align: center; }
  .container h1 {
    font-size: 2em; }

.contenders {
  overflow: auto;
  margin: 20px 0; }

.contender {
  background-color: #FFF;
  padding: 30px 0;
  width: 45%; }
  .contender .sprite {
    background-image: url(nes-final-fantasy-trans.png);
    background-size: 800%;
    margin: 10px auto;
    height: 90px;
    width: 60px; }
  .contender .info {
    margin: 20px 0; }

.bad-guy {
  float: right; }

.good-guy {
  float: left; }

.good-guy .sprite {
  transform: scaleX(-1); }

.good-guy .hurt {
  background-position: -805px 0; }

.good-guy .dead {
  background-size: 500%;
  background-position: -350px 0;
  width: 87px; }

.bad-guy .sprite {
  background-position: -5px 94px; }

.bad-guy .hurt {
  background-position: -805px 94px; }

.bad-guy .dead {
  background-size: 500%;
  background-position: -350px 94px;
  width: 87px;
  transform: scaleX(-1); }

.messaging {
  clear: both;
  padding: 20px; }
